.new-clothes-container {
    margin: 1em;
}

.new-clothes-box {
    display: grid;
    min-height: 20vh;
    grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
    gap: 1em 1em;
}

@media only screen and (min-width: 768px) {
    .new-clothes-box {
        gap: 1em 4em;
    }
}

@media only screen and (max-width: 568px) {

    .new-clothes-box {
        display: grid;
        min-height: 100vh;
        grid-template-columns: repeat(auto-fit, minmax(8.5em, 1fr));
        gap: 1em 1em;
    }
}