.header { 
    position: fixed;
    height: 72px;
    width: 100%;
    background-color: var(--light-bkg-white);
    z-index: 1;
}

#title-header-container {
    position: fixed;
    width: 120px;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
}

#title-header {
    width: 120px;
}

.shopping-header {
    position: fixed;
    font-size: 25px;
    width: 26px;
    height: 22px;
    right: 26px;
    top: 26px;
}

.shopping-header:hover {
    cursor: pointer;
    color: var(--dark-gray);
}