/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 26px;
    height: 20px;
    left: 26px;
    top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: var(--dark-main-color);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: var(--dark-main-color);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 34px;
    width: 34px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: var(--dark-main-color);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: sticky;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: var(--light-main-color);
    padding: 0;
    font-size: 1.6em;
}

/* Wrapper for item list */
.bm-item-list {
    color: var(--dark-main-color);
    padding: 0;
    z-index: 2;
}

/* Individual item */
.bm-item {
    display: block;
    padding: 0.4em;
    text-decoration: none;
    border-bottom: var(--dark-main-color) 1px solid;
}

.bm-item:hover {
    background-color: var(--light-gray);
}

.menu-item .menu-item:active .menu-item:visited .menu-item:link {
    color: var(--dark-main-color);
}

.title-container-home {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    margin-bottom: -5%;
}

.title-container-home:focus, .bm-item:focus {
    outline: none;
}

.title-col-home {
    width: 55%;
    text-align: end;
}

.logo-col-home {
    width: 45%;
    text-align: start;
}

#title-home {
    width: 55%;
    margin: 0;
}
  
#logo-home {
    width: 45%;
    margin: 0;
}

#user-item {
    display: flex !important;
    flex-direction: row;
}

#menu-user-icon {
    margin-left: 5%;
    font-size: 38px;
    align-self: center;
}

#menu-text {
    line-height: 0.6em;
    margin-left: 10%;
}

#menu-user-name {
    font-size: 0.9em;
    font-weight: 800;
}

#menu-user-email::before { 
    content: '\a'; 
    white-space: pre;
}

#menu-user-email {
    font-size: 0.5em;
    font-weight: 400;
}

#menu-settings-icon {
    flex: 1;
    align-self: center;
    margin-right: 5%;
    text-align: end;
    font-size: 0.8em;
}

.menu-item {
    display: flex !important;
    flex-direction: row;
}

.menu-item-text {
    margin-left: 4%;
}

.menu-item-icon {
    align-self: center;
}

.menu-item-arrow {
    flex: 1;
    align-self: center;
    text-align: end;
    font-size: 1em;
    margin-right: 5%;
}

